@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: url('/assets/images/layered-waves.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.app {
  @apply relative z-10 mx-auto flex max-w-7xl flex-col items-center justify-center px-6 sm:px-16;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] sm:text-6xl;
}

.logo_text {
  @apply text-lg font-semibold tracking-wide text-black max-sm:hidden;
}

.recipe_feed {
  @apply mx-auto mt-16 flex w-full max-w-xl flex-col items-center justify-center gap-2;
}

.orange_btn {
  @apply flex items-center justify-center rounded-full bg-orange-600 px-5 py-1.5 text-center text-sm text-white  transition-all hover:bg-amber-400 hover:text-black;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 flex w-full min-w-[150px] flex-col items-end justify-end gap-2 rounded-lg bg-white p-5;
}

.dropdown_link {
  @apply text-sm font-medium text-gray-700 hover:text-gray-500;
}

.switch_btn {
  @apply flex items-center justify-center rounded-full bg-orange-600 px-5 py-1.5 text-center text-sm text-white transition-all hover:bg-amber-400;
}
